<!DOCTYPE>
<html>
<head>

 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   
   <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>




   
   <script>
   function selectRegion(regionPicked)
{
	var element = document.getElementById("regionid")
	element.innerHTML = regionPicked + "<span class='caret'></span>";
}
   </script>
</head>
<body>
<h1>This Is the Summoner Search Page</h1>
<div class="container">
	<form action="/returnSummoner" method="POST">
		 
		
		  <div class = "row">
		  
			    <div class ="col-sm-3">
			    <input type="text" class="form-control" id="ign" name="sname"  placeholder="Enter Summoner Name..." autocomplete=off>
			    </div>

				<div class ="col-sm-3">
					  <!--<div class="dropdown">
				<button class="btn btn-pr imary dropdown-toggle" name="rname" value="NULL" type="button" data-toggle="dropdown" id="regionid">Region
				<span class="caret"></span></button>
				<ul class="dropdown-menu">
				  <li><a href="#" value = "na1" onclick="selectRegion('NA')">NA</a></li>
				  <li><a href="#" value = "euw1" onclick="selectRegion('EUW')">EUW</a></li>
				  <li><a href="#" value = "eun1" onclick="selectRegion('EUNE')">EUNE</a></li>
				</ul>
					</div>
				-->

				<select class="selectpicker" data-style="btn-primary" data-width="fit" name="rname">
					<option>NA</option>
					<option>EUW</option>
					<option>EUNE</option>
				</select>

			  </div>
			  
			  
			  <div class ="col-sm-3">
			  <input type="submit" class="btn btn-info" value="Search"> 
			  </div>
		 </div>	  
	</form>
</div>


</body>
</html>