<!DOCTYPE html>
<html ng-app="app1">

<head>
<style>
div.card-deck{
text-align: center;
vertical-align: middle;
}
</style>
</head>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
      <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
<body> 

<div ng-controller="mycontroller">
			<p>Region:<span id="region">{{region_name}}</span></p>
			<p>Summoner:<span> {{sname}}</span></p>
			<p>RANKED_SOLO_5x5:<span id="solorank">{{div_rank1}}</span></p>
			<p>RANKED_FLEX_SR:<span id="flexrank">{{div_rank2}}</span></p>
			<p>RANKED_FLEX_TT:<span id="ttrank">{{div_rank3}}</span></p>
		
<div>	
<p>//message//</p>		
			
</div>
<p id="temp_region"></p>

<div class="card-deck">

  <div class="card card-inverse" style="background-color: #333; border-color: #333;">
    <img class="card-img-top" src="" alt="Card image cap" id="ttimg">
    <div class="card-block">
      <h4 class="card-title" id="cardtttier"></h4>
      <p class="card-text" id="cardttrank"></p>
	    <ul class="list-group list-group-flush">
		<li class="list-group-item">{{count_tt}}</li>
		<li class="list-group-item"></li>
		<li class="list-group-item"></li>
		</ul>
      <p class="card-text"><small class="text-muted">Ranked Flex 3x3</small></p>
    </div>
  </div>


  <div class="card card-inverse" style="background-color: #333; border-color: #333;">
    <img class="card-img-top" src="" alt="Card image cap" id="soloimg">
    <div class="card-block">
      <h4 class="card-title"id="cardsolotier"></h4>
      <p class="card-text" id="cardsolorank"></p>
	  <ul class="list-group list-group-flush">
		<li class="list-group-item">{{count_solo}}</li>
		<li class="list-group-item"></li>
		<li class="list-group-item"></li>
		</ul>
      <p class="card-text"><small class="text-muted">Ranked Solo/Duo</small></p>
    </div>
  </div>


  <div class="card card-inverse" style="background-color: #333; border-color: #333;">
    <img class="card-img-top" src="" alt="Card image cap" id="fleximg">
    <div class="card-block">
      <h4 class="card-title"id="cardflextier"></h4>
      <p class="card-text" id="cardflexrank"></p>
	  <ul class="list-group list-group-flush">
		<li class="list-group-item">{{count_fl}}</li>
		<li class="list-group-item"></li>
		<li class="list-group-item"></li>
		</ul>
      <p class="card-text"><small class="text-muted">Ranked Flex 5x5</small></p>
    </div>
  </div>
</div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://code.angularjs.org/1.5.3/angular-route.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='onlyjs.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='onlyang.js')}}"></script>
</html>